<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SSLChecker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Local bootstrap CSS & JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" media="screen" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/web.css">
	<script src="static/jquery/jquery-3.3.1.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script> -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/css/web.css">
	
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="/">
				SSLChecker
			</a>
			<button class="navbar-toggler" data-target="#collapsing-navbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsing-navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/users/sign_in">Check SSL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_up">My SSL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_up">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_up">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_up">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container mt-1">
		<div class="row">
			<div class="col">
				<h2 style="margin-top: 30px;">SSL Check</h2><span><a href="">Tool này có thể làm gì?</a></span>
			</div>
		</div>
		<div class="down-10"></div>
		<div class="col-md-6" style="margin-left: 0px;padding-left: 0px;">
			<div id="add-domain-form" style="margin-top: 30px;">
				<div class="down-10">
					<form class="form-inline" action="" accept-charset="UTF-8" data-remote="true" method="post">
						<input name="utf8" type="hidden" value="✓">
						<label class="sr-only" for="domain_name">Domain Name</label>
						<div class="input-group mr-sm-2">
							<div class="input-group-prepend">
								<div class="input-group-text">https://</div>
							</div>
							<input class="form-control input-focus" placeholder="Nhập tên domain ..." type="text" name="domain[name]">
						</div>
						<input type="submit" name="commit" value="Check" class="btn btn-primary" data-disable-with="Adding...">
					</form>
				</div>
			</div>	
		</div>
	</div>
	<div class="container content-check">
		<div class="row row-custom">
			<div class="col-md-4"><p>1. Nhập tên domain</p></div>
			<div class="col-md-4"><p>2. Click check button</p></div>
		</div>
		<div class="row" style="margin-left: 0px;">
			<div class="col-md-4 col-md-4-custom">
				<p>Nhập tên domain dưới một trong những dạng sau:</p>
				<ul>
					<li>cloud365.vn</li>
					<li>https://cloud365.vn</li>
					<li>192.168.100.1</li>
				</ul>
			</div>
			<div class="col-md-4 col-md-4-custom">
				<p>Chúng tôi sẽ hiển thị cho bạn:</p>
				<ul>
					<li>Trang web đã có SSL hay chưa</li>
					<li>Ngày hết hạn</li>
					<li>Đơn vị cung cấp</li>
					<li>Một vài thông tin khác</li>
				</ul>
			</div>
		</div>
	</div>
	</body>
	</html>