<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SSLChecker</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Local bootstrap CSS & JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <link rel="stylesheet" media="screen" href="static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/web.css">
	<script src="static/jquery/jquery-3.3.1.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script> -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/css/web.css">
	
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="/">
				SSLChecker
			</a>
			<button class="navbar-toggler" data-target="#collapsing-navbar" data-toggle="collapse" type="button">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsing-navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_in">Log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/sign_up">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="jumbotron jumbotron-fluid jumbotron-custom">
		<div class="container">
			<h1 class="center">Nhận thông báo trước khi SSL của bạn hết hạn</h1>
			<p class="lead center mt-2">Hiển thị thông tin SSL domain của bạn</p>
			<div class="mt-5">
				<div class="center">
					<a class="btn btn-success btn-lg" href="/users/sign_up">SIGN UP FOR FREE</a>
				</div>
				<div class="center">
					<div class="mt-2">
						<small class="help-text text-muted"><a class="text-light" href="/users/sign_in">Already have an account?</a></small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<div class="row mb-2">
					<div class="col">
						<div class="card">
							<div class="card-body">
								Đăng kí tài khoản
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<div class="card">
							<div class="card-body">
								Nhập vào domain
							</div>
						</div>
					</div>
				</div>
				<div class="row mb-2">
					<div class="col">
						<div class="card">
							<div class="card-body">
								Click "Check" button
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<h2 class="center">Check SSL chỉ với 3 bước đơn giản</h2>
				<p class="mt-4 center">Thêm domain để theo dõi và nhận cảnh báo một cách tiện lợi</p>
			</div>
		</div>
		<!-- %hr/ -->
		<div class="mt-5"></div>
		<div class="row align-items-center">
			<div class="col-md-6 mt-2">
				<h2 class="center">Làm sao để quản lí và theo dõi SSL một cách tiện lợi nhất?</h2>
				<p class="mt-4 center">
					Đăng nhập và trải nghiệm với tính năng "My SSL"
				</p>
			</div>
			<div class="col-md-6 mt-2">
				<img class="img-fluid" src="https://i.imgur.com/5FKHIHL.png" style="box-shadow: 0px 0px 1rem 0rem #999999">
			</div>
		</div>
		<hr>
		<div class="row mt-4">
			<h2 class="center">Chúng tôi có thể giúp bạn:</h2>
		</div>
		<div class="row mt-4">
			<div class="col-md-6">
				<p class="lead">Nhận thông báo kịp thời trước khi SSL hết hạn</p>
				<ul>
					<li>Tùy chỉnh thời gian thông báo trước khi hết hạn</li>
					<li>Tùy chỉnh thời gian nhận lại thông báo nếu SSL chưa được renew</li>
				</ul>
			</div>
			<div class="col-md-6">
				<p class="lead">Cảnh báo tiện lợi thông qua</p>
				<ul>
					<li>Email</li>
					<li>Telegram</li>
				</ul>
			</div>
		</div>
		<hr>
	</div>
	<div class="footer">
		<div class="center">
			<ul class="list-inline">
				<li class="list-inline-item"><a href="">Trợ giúp</a></li>
				<li class="list-inline-item"><a href="/terms">Chính sách</a></li>
				<li class="list-inline-item"><a href="/privacy">Liên hệ</a></li>
			</ul>
		</div>
	</div>
</body>
</html>